/* elements */
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: medium;
  line-height: 1.5;
  overflow-x: hidden;
  transition: background-color 1s ease-in-out;
}
/* scroll bar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 0;
}
/* styles */
#hud {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 200px;
  padding: 1rem 18px;
  font-size: 85%;
  color: rgba(0,0,0, .75);
  z-index: 10;
  transition: color 1s ease-in-out, left 1s ease-in-out;
}
#hud:after {
  position: absolute;
  right: 0;
  top: 1rem;
  font-family: Icons;
  font-style: normal;
  font-size: 1.75rem;
}
#hud.inactive {
  left: -175px;
}
#hud.inactive:after {
  content: "\f0da";
}
#hud #inventory {
  margin: 0;
  padding: 0;
}
#hud #inventory li {
  list-style: none;
}
#hud .negative {
  color: rgba(218, 43, 43, 0.75);
  transition: color 1s ease-in-out;
}
#main {
  padding: 1rem 0;
}

#actions {
  padding-bottom: 1rem;
}

#main .segment {
  margin: 1rem auto;
  transition: opacity 0.75s, filter 0.75s, -ms-filter 0.75s, background-color 1s;
}

  #main .segment.history {
    opacity: 0.5;
    border-color: transparent;
    box-shadow: none;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

    #main .segment.history:hover {
      opacity: 1.0;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
    }

  #main .segment.active {
    opacity: 1.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }

  #main .segment.active .choice .item:hover {
    background-color: #101010;
    margin-top: .1rem;
    margin-bottom: .3rem;
    cursor: pointer;
  }

  #main .segment.history .choice .item {
    cursor: not-allowed;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  
  #main .segment.history .choice .item.active {
    color: #1a1a1a;
    border-color: #1a1a1a;
    background-color: #ededed;
  }

  #main .segment.active .choice .item.active:hover {
    color: #000;
    border-color: #000;
    background-color: #f6f6f6;
  }

  #main .segment.active .choice .item.active {
    color: #000;
    border-color: #000;
    background-color: #fff;
  }

.choice.grid {
  display: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
  
  .choice.grid>.column:not(.row) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .choice.grid .item {
    width: 100%;
    color: #ffffff;
    border: 1px solid #202020;
    background-color:#292929;
    border-radius: 3px;
    text-align: center;
    padding: .5rem 1rem;
    margin: .2rem auto;
    transition: background-color .1s ease-in-out, margin .15s;
  }

.actions {
  text-align: center;
}

#btnRestart {
  display: none;
}

@media (min-width: 576px) {
  #main .segment {
    border-radius: 0.2rem;
  }
}

/* Themes */
body.dark { color: #dddddd; background-color: #191919; }
body.dark #main .segment { background-color: #3f3f3f; }
body.dark #hud { color: #cccccc; }
body.sepia { color: #1a1a1a; background-color: #704214; }
body.sepia #main .segment { color: #33322f; background-color: #a77b50; }
body.sepia #hud { color: rgba(255,255,255,.65); }
body.red { color: black; background-color:#C3272B; }
body.red #main .segment { color: #fafafa; background-color: #af2225; }
body.red #hud { color: rgba(255,255,255,.75); }
body.red #hud .negative { color: rgba(0,0,0,0.75); }
body.blue { color: black; background-color:#59ABE3; }
body.blue #main .segment { color: black; background-color: #5eb4ef; }
body.blue #hud { color: rgba(255,255,255,.75); }
body.blue #hud .negative { color: rgba(0,0,0,0.75); }
body.green { color: white; background-color:#006442; }
body.green #main .segment { color: white; background-color: #357b52; }
body.green #hud { color: rgba(255,255,255,.5); }
body.green #hud .negative { color: rgba(217,255,11,.8); }
body.yellow { color: #1a1a1a; background-color: #d8d68d; }
body.yellow #main .segment { color: #151515; background-color: #f9f7bb; }
body.yellow #hud { color: black; }
body.gray { color: #2a2a2a; background-color:#BDC3C7; }
body.gray #main .segment { color: #2a2a2a; background-color: #e4e4e4; }
body.gray #hud { color: black; }